.board {
  display: flex;
}

.section {
  width: 33%;
  margin: 1rem;
}

.new-request-button {
  padding: .8rem;
  color: white;
  border: none;
  border-radius: 3px;
  background-color: green;
  cursor: pointer;
}

.special-notices {
  
  &__header {
    
  }
  
}