<header>Schedule Board</header>
<div class="board">
  <div class="section section--1">
    <div class="hangars">
      <app-hangar [hangar]="1"></app-hangar>
      <app-hangar [hangar]="4"></app-hangar>
      <app-hangar [hangar]="7"></app-hangar>
    </div>
  </div>
  
  <div class="section section--2">
    <div class="hangars">
      <app-hangar [hangar]="9"></app-hangar>
      <app-hangar-requests></app-hangar-requests>
      <app-hangared-aircraft></app-hangared-aircraft>
    </div>
  </div>
  
  <div class="section section--3">
      <app-transients></app-transients>
      <div class="special-notices">
        <span class="special-notices__header">Special Notices</span>
        <app-notice *ngFor="let notice of notices" [notice]="notice"></app-notice>
      </div>
    <div class="controls">
      <button class="new-request-button board__button" (click)="newFlight()">New Request</button>
      <button class="new-notice-button board__button" (click)="newNotice()">New Special Notice</button>
      <app-request *ngIf="newRequest" [(newRequest)]="newRequest"></app-request>
    </div>
  </div>
</div>

<div class="new-notice" *ngIf="newNoticeBool">
  <div class="new-notice__header">New Special Request</div>
  <form class="new-notice__form">
    <textarea name="text" [(ngModel)]="newNoticeObj.text" placeholder="Text..." class="new-notice__form__input"></textarea>
    <button class="new-notice__form__button" (click)="submitNewNotice()">Submit</button>
  </form>
</div>