<header>Schedule Board</header>
<div class="board">
  <div class="section section--1">
    <app-plane></app-plane>
    <app-plane></app-plane>
  </div>
  
  <div class="section section--2">
    
    <app-plane></app-plane>
  </div>
  
  <div class="section section--3">
    
    <app-plane></app-plane>
  </div>
</div>
<div class="controls">
  <button class="new" (click)="newFlight()">New Flight</button>
  <app-request *ngIf="newRequest"></app-request>
</div>

<!--<router-outlet></router-outlet>-->