<header>Schedule Board</header>
<div class="board">
  <div class="section section--1">
    <div class="hangars">
      <app-hangar [hangar]="1"></app-hangar>
      <app-hangar [hangar]="4"></app-hangar>
      <app-hangar [hangar]="7"></app-hangar>
    </div>
  </div>
  
  <div class="section section--2">
    
    <div class="hangars">
      <app-hangar [hangar]="9"></app-hangar>
    </div>
  </div>
  
  <div class="section section--3">
    
  </div>
</div>
<div class="controls">
  <button class="new-request-button" (click)="newFlight()">New Flight</button>
  <app-request *ngIf="newRequest" [(newRequest)]="newRequest"></app-request>
</div>
