.board {
  display: flex;
  
  &__button {
    padding: .8rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
}

.section {
  width: 33%;
  margin: 1rem;
}

.new-request-button {
  color: white;
  background-color: green;
}

.special-notices {
  
  &__header {
    
  }
}

.new-notice {
  position: fixed;
  padding: 5rem;
  width: 50%;
  background-color: #ccc;
  top: 20rem;
  left: 40rem;
  
  &__form {
    
    &__input {
      border: none;
      width: 50rem;
      height: 30rem;
    }
  }
}

.new-notice-button {
  background-color: teal;
  color: white;
}