<div class="request">
  <form action="" class="request__form">
    
    <div class="request__form__box">
      <label for="date">Date</label><input type="date" name="date"/>
    </div>
    <div class="request__form__box">
      <label for="time">Time</label><input type="time" name="time"/>
    </div>
    <div class="request__form__box">
      <label for="remarks">Remarks</label><input type="text" name="remarks"/>
    </div>
    
    
    <div class="request__form__checkboxes">
      <div class="request__form__checkboxes__box">
        <label for="WC">WC</label><input type="checkbox" name="WC"/>
      </div>
      <div class="request__form__checkboxes__box">
       <label for="WFP">WFP</label><input type="checkbox" name="WFP"/>
      </div>
      <div class="request__form__checkboxes__box">
        <label for="WA">WA</label><input type="checkbox" name="WA"/>
      </div>
      <div class="request__form__checkboxes__box">
        <label for="CW">CW</label><input type="checkbox" name="CW"/>
      </div>
      <div class="request__form__checkboxes__box">
        <label for="CIP">CIP</label><input type="checkbox" name="CIP"/>
      </div>
      <div class="request__form__checkboxes__box">
        <label for="RON">RON</label><input type="checkbox" name="RON"/>
      </div>
    </div>
  </form>
</div>
