<div class="request">
  <h2 class="request__header">New Request</h2>
  <form class="request__form">
    
    <div class="request__form__left">
      <div class="request__form__box">
        <label for="tail" class="request__form__box__label">Tail</label><input type="text" name="tail" [(ngModel)]="aircraft.tail" class="request__form__box__input" />
      </div>
      <div class="request__form__box">
        <label for="date" class="request__form__box__label">Date</label><input type="date" name="date" [(ngModel)]="aircraft.date" class="request__form__box__input" />
      </div>
      <div class="request__form__box">
        <label for="time" class="request__form__box__label">Time</label><input type="text" name="time" [(ngModel)]="aircraft.time" class="request__form__box__input" maxlength="4" />
      </div>
      <button class="request__form__submit btn" (click)="submitRequest()">Submit</button>
      <button class="request__form__discard btn" (click)="discardRequest()">Discard</button>
    </div>
    <div class="request__form__right">
      <div class="request__form__box">
        <label for="remarks" class="request__form__box__label">Remarks</label>
        <textarea name="remarks" [(ngModel)]="aircraft.remarks" cols="30" rows="10" class="request__form__box__input"></textarea>
      </div>
      <div>
        <span class="request__form__box__header">Transient Aircraft Hangared</span>
        <div class="request__form__box__radio">
          <label for="hangared" class="request__form__box__label">None</label>
          <input type="radio" value="none" [(ngModel)]="aircraft.hangared" name="hangared" class="request__form__box__radio__input">
        </div>
        <div class="request__form__box__radio">
          <label for="hangared" class="request__form__box__label">Requested</label>
          <input type="radio" value="requested" [(ngModel)]="aircraft.hangared" name="hangared" class="request__form__box__radio__input">
        </div>
        <div class="request__form__box__radio">
          <label for="hangared" class="request__form__box__label">Hangared</label>
          <input type="radio" value="hangared" [(ngModel)]="aircraft.hangared" name="hangared" class="request__form__box__radio__input">
        </div>
      </div>
    </div>
  </form>
</div>
