.request {
  position: fixed;
  padding: 5rem;
  width: 50%;
  background-color: #ecdfce;
  top: 20rem;
  left: 40rem;
  
  &__header {
    
  }
  
  &__form {
    display: grid;
    grid-template-columns: 2fr 5fr;
    
    &__box {
      margin: 1rem;
      display: grid;
      
      &__label {
        margin-bottom: .7rem;
      }
      
      &__input {
        padding: .5rem;
        width: 100%;
        border: none;
        border-radius: 2px;
        font-family: Roboto, sans-serif;
      }
      
      &__radio {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
        
        &__input {
          
        }
      }
    }
    
    &__RON {
      
      &__label {
        margin: 0 1rem;
      }
      
      &__input {
        
      }
    }
    
    &__left {
      
      &__buttons {
        margin: .5rem 1rem;
        display: flex;
        flex-direction: column;
        width: 85%;
        
        
        &--edit {
          background-color: darkgreen;
          color: white;
        }
        
        &--discard {
          background-color: firebrick;
          color: white;
        }
        
        &--completed {
          background-color: teal;
          color: white;
        }
      }
    }
    
    &__right {
      
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
}

.btn {
  padding: .5rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}