<div class="request edit-request">
  <h2 class="request__header">Edit Request</h2>
  <form action="/flight/new" method="post" class="request__form">
    
    <div class="request__form__left">
      <div class="request__form__box">
        <label for="tail" class="request__form__box__label">Tail</label><input type="text" name="tail" [(ngModel)]="aircraft.tail" class="request__form__box__input" />
      </div>
      <div class="request__form__box">
        <label for="date" class="request__form__box__label">Date</label><input type="date" name="date" [(ngModel)]="aircraft.date" class="request__form__box__input" />
      </div>
      <div class="request__form__box">
        <label for="time" class="request__form__box__label">Time</label><input type="text" name="time" [(ngModel)]="aircraft.time" class="request__form__box__input" maxlength="4" />
      </div>
      <input type="hidden" name="id" value="aircraft._id" [(ngModel)]="aircraft._id" />
      <button class="request__form__edit btn" (click)="editRequest()">Edit</button>
      <button class="request__form__discard btn" (click)="discardRequest()">Discard</button>
      <button class="request__form__completed btn" (click)="completeRequest()">Completed</button>
    </div>
    <div class="request__form__right">
      <div class="request__form__box">
        <label for="remarks" class="request__form__box__label">Remarks</label>
        <textarea name="remarks" [(ngModel)]="aircraft.remarks" cols="30" rows="10" class="request__form__box__input"></textarea>
      </div>
    </div>
  </form>
</div>