<div class="special-notices">
  <span class="special-notices__header">Special Notices</span>
  <app-notice *ngFor="let notice of notices" [notice]="notice"></app-notice>
</div>

<div class="new-notice" *ngIf="newNoticeBool">
  <div class="new-notice__header">New Special Request</div>
  <form class="new-notice__form">
    <textarea name="text" [(ngModel)]="newNoticeObj.text" placeholder="Text..." class="new-notice__form__input"></textarea>
    <button class="new-notice__form__button new-notice__form__button--submit" (click)="submitNewNotice()">Submit</button>
    <button class="new-notice__form__button new-notice__form__button--discard" (click)="discardNotice()">Discard</button>
  </form>
</div>