.special-notices {
  
  &__header {
    
  }
}

.new-notice {
  position: fixed;
  padding: 5rem;
  width: 50%;
  background-color: #ccc;
  top: 20rem;
  left: 40rem;
  
  &__form {
    
    &__input {
      border: none;
      width: 50rem;
      height: 30rem;
    }
    
    &__button {
      
      &--submit {
        
      }
      
      &--discard {
        
      }
    }
  }
}
