<div class="special-notices">
  <div class="special-notices__header">Special Notices</div>
  <app-notice *ngFor="let notice of notices" [notice]="notice" [(editNoticeBool)]="editNoticeBool" [(editNoticeObj)]="editNoticeObj"></app-notice>
</div>

<div class="special-notices__backdrop" *ngIf="newNoticeBool">
  <div class="new-notice">
    <div class="new-notice__header">New Special Notice</div>
    <form class="new-notice__form">
      <textarea name="text" [(ngModel)]="newNoticeObj.text" placeholder="Text..." class="new-notice__form__input"></textarea>
      <div class="new-notice__buttons">
        <button class="new-notice__form__button form__button new-notice__form__button--submit" (click)="submitNewNotice()">Submit</button>
        <button class="new-notice__form__button form__button new-notice__form__button--discard new-notice-discard" (click)="discardNotice()">Discard</button>
      </div>
    </form>
  </div>
</div>

<div class="special-notices__backdrop" *ngIf="editNoticeBool">
  <div class="edit-notice">
    <div class="edit-notice__header">Edit Special Notice</div>
    <form class="edit-notice__form">
      <textarea name="text" [(ngModel)]="editNoticeObj.text" placeholder="Text..." class="edit-notice__form__input"></textarea>
      <div class="edit-notice__buttons">
        <button class="edit-notice__form__button form__button edit-notice__form__button--submit" (click)="submitEditNotice()">Submit Changes</button>
        <button class="edit-notice__form__button form__button edit-notice__form__button--discard discard" (click)="discardEditNotice()">Discard Changes</button>
        <button class="edit-notice__form__button form__button edit-notice__form__button--delete" (click)="deleteNotice()">Delete Notice</button>
      </div>
    </form>
  </div>
</div>
