$color-osu: #b00;
$color-grey: #eee;

.hangar {
  border: 1px solid black;
  margin: 1rem;
  
  &__header {
    padding: 3px;
    background: linear-gradient(to right, lighten(blanchedalmond, 5%) 20%, $color-osu 95%);
    
    &--1 {
      
    }
    
    &--4 {
      
    }
    
    &--7 {
     
    }
    
    &--9 {
      
    }
  }
}