.hangar {
  border: 1px solid black;
  margin: 1rem;
  
  &__header {
    padding: 3px;
    
    &--1 {
      background: linear-gradient(to right, lighten(blanchedalmond, 5%), teal);
    }
    
    &--4 {
      background: linear-gradient(to right, lighten(blanchedalmond, 5%), orangered);
    }
    
    &--7 {
      background: linear-gradient(to right, lighten(blanchedalmond, 5%), olive);
    }
    
    &--9 {
      background: linear-gradient(to right, lighten(blanchedalmond, 5%), sienna);
    }
  }
}