.hangar {
  border: 1px solid black;
  margin: 1rem;
  
  &__header {
    padding: 3px;
    
    &--1 {
      background: linear-gradient(to right, white, teal);
    }
    
    &--4 {
      background: linear-gradient(to right, white, orangered);
    }
    
    &--7 {
      background: linear-gradient(to right, white, rebeccapurple);
    }
    
    &--9 {
      background: linear-gradient(to right, white, darkgreen);
    }
  }
}