html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

.header {
  
}

.panel {
  padding: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.users {
  
  &__new {
    
    &__header {
      
    }
    
    &__form {
      
    }
  }
  
  &__remove {
    
    &__header {
      
    }
    
    &__form {
      
    }
  }
}

.planes {
  
  &__new {
    
    &__header {
      
    }
    
    &__form {
      
    }
  }
  
  &__edit {
    
    &__header {
      
    }
    
    &__form {
      
    }
  }
  
  &__remove {
    
    &__header {
      
    }
    
    &__form {
      
    }
  }
}

.hangars {
  
  &__new {
    
    &__header {
      
    }
    
    &__form {
      
    }
  }
  
  &__remove {
    
    &__header {
      
    }
    
    &__form {
      
    }
  }
}