html {
  
}

body {
  font-family: sans-serif;
}

.header {
  
}

.panel {
  display: flex;
  justify-content: space-around;
}

.users {
  
}

.planes {
  
  &__new {
    
    &__header {
      
    }
    
    &__form {
      
    }
  }
}