.plane {
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  border-top: 1px solid black;
  cursor: pointer;
  
  &__flights {
    
  }
  
  &__tail {
    margin: .4rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
