<div class="flight" [ngClass]="{  'flight--transient': flight.transient == true, 
                                  'red': displayStyle == 'red', 
                                  'yellow': displayStyle == 'yellow', 
                                  'purple': displayStyle == 'purple', 
                                  'green': displayStyle == 'green'
}" (dblclick)="editFlight()">
  <div class="flight__item flight__tail" *ngIf="flight.transient">{{ flight.tail }}</div>
  <div class="flight__item flight__date">{{ flight.date | date:'M/d/yy' }}</div>
  <div class="flight__item flight__time">{{ flight.time }}</div>
  <div class="flight__item flight__remarks">{{ flight.remarks }}</div>
</div>

<app-edit-request *ngIf="newEditRequest" [(newEditRequest)]="newEditRequest" [(aircraft)]="flight" (planeChange)="planeChangeHandler($event)"></app-edit-request>
