.flight {
  
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  width: 100%;
  min-height: 2rem;
  padding: 2px;
  
  &__item {
    &:not(:last-child) {
      border-right: 1px solid black;
      text-align: center;
    }
    
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  &__tail {
    
  }
  
  &__time {
    
  }
  
  &__remarks {
    padding-left: 4px;
  }
  
  &--transient {
    grid-template-columns: repeat(3, 1fr) 4fr;
  }
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.purple {
  background-color: purple;
}

.green {
  background-color: green;
}

.brown {
  background-color: brown;
}
