.flight {
  
  display: grid;
  grid-template-columns: 1fr 1fr 5fr;
  align-items: center;
  width: 100%;
  min-height: 2.7rem;
  padding: 3px;
  
  &__item {
    &:not(:last-child) {
      border-right: 1px solid black;
      text-align: center;
      padding: 0 0.5rem;
    }
    
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  &__tail {
    
  }
  
  &__time {
    
  }
  
  &__date {
    
  }
  
  &__remarks {
    padding-left: 4px;
  }
  
  &--transient {
    grid-template-columns: repeat(3, 1fr) 4fr;
  }
}

.red {
  background: linear-gradient(to right, lighten(blanchedalmond, 5%), red);
}

.yellow {
  background: linear-gradient(to right, lighten(blanchedalmond, 5%), yellow);
}

.purple {
  background: linear-gradient(to right, lighten(blanchedalmond, 5%), #df1fdf 110%);
}

.green {
  background: linear-gradient(to right, lighten(blanchedalmond, 5%), green 125%);
}
